<html>
    <head>
        <title>delete data</title>
    </head>
    <body>
        <center>delete stock details</center>
       
        <form action="/delete" method="post">
            <input type="text" placeholder="product Id" name="pid">
            <input type="submit">
        </form>
    </body>
</html>